.numero{
    width: 10px;
    cursor:pointer;
}

.operacion{
    width: 10px;
    cursor: pointer;
}

.igual{
    width: 10px;
    cursor: pointer;
}

.solucion{
    cursor: pointer;
}